<div class="card-panel hoverable z-depth-3">
  <h5>
    <%= link_to question.title, question %>
  </h5>
  <div class="chip">
    <%= "#{question.count_answers} câu trả lời" %>
  </div>
  <% if policy(question).destroy? %>
    <%= link_to  question, method: :delete,
      data: { tooltip: "Xoá câu hỏi", delay: 10 },
      class: "secondary-content tooltipped red-text" do %>
      <i class="material-icons">clear</i>
    <% end %>
  <% end %>
</div>