<div class="card-panel hoverable z-depth-3">
  <%= link_to question.title, question %>
  <% if current_user.owned_question?(question) || current_user.owned_group?(group)  %>   
    <%= link_to  question, method: :delete,
      data: { tooltip: "Xoá câu hỏi", delay: 10 },
      class: "secondary-content tooltipped red-text" do %>
      <i class="material-icons">clear</i>
    <% end %>
  <% end %>
</div>