 <div>
  <ul class="tabs">
    <li class="tab "><a href="#test1">Các sự kiện</a></li>
    <li class="tab "><a class="active" href="#test2">Nhóm</a></li>
    <li class="tab "><a href="#test3">Nerge/Patron</a></li>
    <li class="tab"><a href="#test4">Cài đặt</a></li>
    <li class="tab"><a href="#test5">. . .</a></li>
  </ul>
  <div id="test1" class="">Test 1</div>
  <div id="test2" class="">Test 2</div>
  <div id="test3" class="">Test 3</div>
  <div id="test4" class="">Test 4</div>
  <div id="test5" class="">Test 5</div>
</div>
