<div>
  <ul class="tabs">
    <li class="tab "><a href="#activities">Các sự kiện</a></li>
    <li class="tab "><a href="#nerpats">Nerge/Patron</a></li>
    <li class="tab "><a href="#groups" class="active">Nhóm</a></li>
    <li class="tab"><a href="#settings">Cài đặt</a></li>
    <li class="tab"><a href="#more">. . .</a></li>
  </ul>
  
  <div class="card-panel">
    <div id="activities" class="">Test 1</div>
    <div id="nerpats" class=""></div>
    <div id="groups" class=""><%= render "groups" %></div>
    <div id="settings" class="">Test 4</div>
    <div id="more" class="">Test 5</div>
  </div>
</div>
