<ul class="collection">
  <li class="collection-header">
    <%= link_to "Tìm kiếm Nerge/Patron", "#", class: "right" %>
    <h6>Yêu cầu</h6>
  </li>
  <li class="divider"></li>
  <% if nerpat_requests.any? %>
    <%= render partial: "notifications/nerpat_request",
      collection: nerpat_requests, as: :request %>
  <% else %>
    <li class="center"><p>Hiện tại bạn không có bất cứ yêu cầu nào.</p></li>
  <% end %>
</ul>
