<div id="notifications" class="notifications" style="display: none">
  <ul class="collection">
    <li class="collection-header">
      <%= link_to "Xem tất cả", "#", class: "right" %>
      <h6>Thông báo</h6>
    </li>
    <li class="divider"></li>
    <% if notifications.any? %>
      <%= render notifications %>
    <% else %>
      <li class="center">
        <p>Hiện tại bạn không có bất cứ thông báo nào.</p>
      </li>
    <% end %>
  </ul>
</div>