<div class="group">
  <h1><%= @group.name %></h1>
  <% if current_user.own_group?(@group) %>
    <%= link_to "edit group", edit_group_path, class: "edit" %>
  <% end %>

  <h2>Questions list</h2>
  <%= link_to new_group_question_path(group_id: @group.id), 
    class: "btn-floating btn-large waves-effect waves-light green", 
    data: { tooltip: "Đặt câu hỏi", delay: 10 } do %>
  <i class="material-icons">add</i>
  <% end %>
  <%= render @group.questions, group: @group %>
  
</div>