<div id="profile-skills">
  <%= hidden_field_tag "profile[skill_ids][]", nil, id: nil %>
  <%= render skills, edit_mode: true %>
</div>
<div id="profile-skills-input" data-behavior="#profile-skills"></div>
