<div class="vote">
  <div>
    <%= link_to m_icon('arrow_drop_up'), uplink, method: :post %>
    <div class="vote-counter">+ 25</div>
    <%= link_to m_icon('arrow_drop_down'), downlink, method: :post %>
  </div>
</div>
