<ul class="tabs primary">
  <li class="tab"><%= link_to m_icon("account_box", text: "Tài khoản"),
      account_settings_path, target: "_self" %></li>
  <li class="tab"><%= link_to m_icon("notifications_none", text: "Thông báo"),
      notifications_settings_path, target: "_self" %></li>
</ul>
