<div id="find-tabs" class="row">
  <div class="col s12">
    <ul class="tabs primary-bg">
      <li class="tab col s6 m6 l6"><a href="#find-nerge">Tìm Nerge</a></li>
      <li class="tab col s6 m6 l6"><a href="#find-patron">Tìm Patron</a></li>
    </ul>
  </div>

  <div id="find-nerge" class="col s12">
    <div class="row">
      <% @available_nerges.each do |nerge| %>
        <%= render nerge, text: "Nhận Nerge",
          link: [:send_add_nerge_request, nerge],
          mthd: :post, custom_class: "nerge" %>
      <% end %>
    </div>
  </div>

  <div id="find-patron" class="col s12">
    <% @available_patrons.each do |patron| %>
      <%= render patron, text: "Nhận Patron",
        link: [:send_add_patron_request, patron],
        mthd: :post, custom_class: "patron" %>
    <% end %>
  </div>
</div>
