#profile {
  .profile-bg {
    height: 300px;
    background-color: $primary-color;
    color: #fff;

    .profile-avatar {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 50px;

      & > img {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        vertical-align: middle;
      }

      & > div {
        padding-left: 135px;

        p {
          font-weight: 400;
          color: #bbb;
        }
      }
    }
  }

  .profile-info {
    margin-top: -100px;
    margin-bottom: 50px;
    max-width: 800px;

    .collection {
      border: none;

      li.collection-item {
        &:first-child,
        &:last-child {
          p:first-child {
            font-weight: bolder;

            i {
              margin-right: 10px;
            }
          }
        }

        &:first-child {
          border-top: 3px solid $tertiary-color;
          margin-bottom: 10px;
        }

        @extend .z-depth-1;

        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 2px;
        border-radius: 2px;
        font-size: 0.9rem;

        i.left {
          font-size: 19px;
          color: $tertiary-color;
        }
      }
    }
  }
}

#profile-skills-input {
  margin-top: 10px;
  max-width: 200px;
}
