#profile {
  .profile-info {
    .card {
      padding: 10px;
      padding-bottom: 20px;
      
      .row {
        margin-bottom: 0;
        img {
          width: 120px;
          height: 120px;
          margin-top: 20px;
        }
      }
    }
  }
}