.add-answer-inline {
  img.left {
    margin: 15px;
    width: 32px;
    height: 32px;
  }

  .add-answer-placeholder {
    display: block;
    height: 62px;
    overflow: hidden;
    line-height: 60px;
    font-weight: 400;
    letter-spacing: 1px;
    color: grey;
    cursor: text;
  }

  .answer-form-wrapper {
    padding: 0 30px 20px 30px;
  }

  .active-form {
    -ms-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    transition: transform 0.7s;
  }
}

