@media #{$medium-and-up} {
  nav .brand-logo {
    left: auto;
    transform: none;
  }

  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  #my-profile .my-profile-bg .my-profile-avatar {
    padding-left: 50px;

    & > div {
      padding-top: 25px;
    }
  }
}

@media #{$large-and-up} {
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }

  #my-profile {
    .my-profile-info {
      margin-top: -100px;

      .my-profile-about {
        margin-top: 100px;

        ul.collection {
          margin-top: 50px;
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }
  }

  #find-tabs {
    .tabs {
      overflow-x: hidden;
    }
  }
}