.user {
  .remove-nerpat-btn {
    position: absolute;
    color: #888;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    padding: 15px;
    border-radius: 50%;

    &:hover {
      background-color: #dad5d5;
    }

    i.material-icons {
      font-size: 18px;
    }
  }

  .card-content {
    padding-bottom: 0;
  }

  .avatar-preview {
    @extend .circle;
    @extend .responsive-img;
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 5px;
  }

  .user-info {
    padding-bottom: 20px;
    min-height: 120px;

    .view-more-wrapper {
      position: absolute;
      bottom: 10px;
      width: 100%;
    }
  }
}
