.user {
  .card-content {
    padding-bottom: 0;
  }

  .avatar-preview {
    @extend .circle;
    @extend .responsive-img;
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 5px;
  }

  .user-info {
    padding-bottom: 20px;
    min-height: 120px;

    .view-more-wrapper {
      position: absolute;
      bottom: 10px;
      width: 100%;
    }
  }
}
