$primary-color:  #47525d !default
$secondary-color: #3cc3bc !default
$primary-bg-color: #eff2f7 !default

// Forms
$form-color: #26a69a !default
$select-focus: 1px solid $form-color !default
$input-focus-color: $form-color !default
$radio-fill-color: $form-color !default
$select-focus: 1px solid lighten($form-color, 47%) !default
$switch-bg-color: $form-color !default
$switch-checked-lever-bg: desaturate(lighten($form-color, 25%), 25%) !default
