$break-xlarge: 1200px
$xlarge-and-down: "screen and (max-width: #{$break-xlarge})"
$xlarge-and-up: "screen and (min-width: #{$break-xlarge})"

$primary-color:  #47525d !default
$secondary-color: #3cc3bc !default
$primary-bg-color: #f6f6f6 !default
