.voting-row {
  display: table-row;

  .voting-col {
    display: table-cell;

    &:first-child {
      height: 130px;
    }

    &:not(:first-child) {
      width: 100%;
    }
  }
}

.vote {
  text-align: center;
  margin: 0 10px;
  width: 56px;

  & > div {
    position: absolute;
  }

  .vote-counter {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #85919c;
  }

  a {
    display: block;
    text-align: center;
    color: #85919c;
    width: 45px;
    height: 45px;

    &:hover, &.active {
      color: #f44336;
    }

    i {
      font-size: 3rem;
    }
  }
}
